doctype html(lang='en')
head
    meta(charset='UTF-8')
    |
    link(rel='icon', type='image/jpg', href='/images/favicon.jpg')
    |
    link(rel='stylesheet', href='/stylesheets/estilo.css', type='text/css')
    |
    title Analizador
    |
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    |
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='/javascripts/main.js', type='text/javascript')
    style(type='text/css').
      a{text-decoration:none;}
      a:link{color:white;}
      a:visited{color:white;}
      a:hover{font-size:16; color:#0B0B61;}

  body
    .menu
      dl#primero
        dt
          b
            a(href='https://kevinrm.github.io/') Inicio: P&aacute;gina Kevin
        |
        dt
          b
            a(href='http://alu0100764666.github.io/') Inicio: P&aacute;gina Sabato
      |
      dl#segundo
        |
        dt
          b
            a(href='')
              strong Travis
        |
        dt
          b
            a(href='https://github.com/KevinRM/pl_practica_4')
              | Ver en
              strong Github
        |
        |
        dt
          b
            a(href='http://en.wikipedia.org/wiki/Recursive_descent_parser') Wikipedia
        |
        dt
          b
            a(href='http://sass-lang.com/') Sass
        |
        dt
          b
            a(href='http://jade-lang.com/') Jade
        |
        dt
          b
            a(href='http://coffeescript.org/') CoffeeScript
    |
    .contenido_total
      .titulo_practica
        h1(align='center')
          font(color='white') Analizador Descendente Predictivo Recursivo
        |
        hr
      |
      .descripcion
        p
          i
            b
              u Esta web contiene un ejemplo de Analizador Descendente Predictivo Recursivo
      |
    extends layout
    block content
    hr
    pre#OUTPUT.
